@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-clr: #683ccf;
  --cont-bg: #e7e7e7;
  --primary-ftn: #1e1d25;
  --secondary-ftn: #6b6a77;
}

body {
  background-color: var(--bg-clr);
  font-family: "Lato", sans-serif;
}

.title {
  font-size: 3.5em;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  margin-top: 2.5%;
  color: white;
}

.container {
  width: 55%;
  height: auto;
  background: var(--cont-bg);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.5rem;
  padding: 1em 2em;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidetitle {
  width: 15em;
  padding: 2em 0;
}

.sidetitle h2 {
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 400;
}

.area {
  width: 60%;
  height: auto;
  padding: 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 2em;
}

.card {
  background-color: var(--cont-bg);
  width: 100%;
  height: auto;
  padding: 1em 1.2em;
  border-radius: 0.5rem;
  -webkit-box-shadow: 5px 5px 15px #bdbdbd, -5px -5px 7px #ffffff;
          box-shadow: 5px 5px 15px #bdbdbd, -5px -5px 7px #ffffff;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.question .question-title {
  font-size: 1.1em;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primary-ftn);
}

.answer {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.answer .info {
  margin-top: 0.5em;
  color: var(--secondary-ftn);
  letter-spacing: 0.7px;
  line-height: 1.5;
}

.answer .underline {
  width: 100%;
  height: 1px;
  background-color: darkgray;
}

.btn {
  background-color: #bcb5d6;
  font-size: 1.75em;
  border-radius: 50%;
  color: #26203b;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */