*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #c4dcf3;
}

$border-radius: (
  "sm": 0.3rem,
  "md": 0.7rem,
  "lg": 1rem,
  "pill": 5rem,
);
