@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  background: #c4dcf3;
}

body {
  background-color: var(--bg-clr);
  font-family: "Lato", sans-serif;
}

.container {
  width: 75%;
  height: auto;
  padding: 2em 2.5em;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.heading {
  font-weight: 600;
  font-size: 3.5em;
  letter-spacing: 0.1em;
}

.underline {
  height: 0.1em;
  width: 7.5em;
  background-color: gray;
}

.card {
  width: auto;
  height: 12.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  row-gap: 2em;
  margin-top: 4%;
  width: 100%;
}

.image-container {
  width: 11em;
  height: 12.5em;
}

.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.7rem;
}

.content {
  width: 65%;
  height: 100%;
  position: relative;
  padding: 1em;
}

.content .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-header .title {
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 600;
}

.content .content-header .price {
  font-size: 1.35em;
  color: #3167da;
  font-weight: 700;
  width: 5em;
  text-align: right;
}

.content .content-body {
  margin-top: 7.5%;
}

.content .content-body .desc {
  word-spacing: 0.3em;
  text-align: justify;
}

hr {
  width: 90%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 0.75em;
}

.filters {
  margin-top: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5em;
  height: 3em;
}

.filter-btn {
  padding: 0.3em 1.5em;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.9em;
  background-color: transparent;
  border: solid 1.3px #3167da;
  border-radius: 0.3rem;
  color: #3167da;
  -webkit-transition: padding 250ms ease-in-out;
  transition: padding 250ms ease-in-out;
  font-weight: 500;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #3167da;
  color: white;
  padding: 0.7em 2em;
  border: none;
  font-size: 1.1em;
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
    padding: 1em 1.5em;
  }
  .grid {
    -webkit-column-gap: 2em;
            column-gap: 2em;
    row-gap: 2em;
  }
  .image-container {
    width: 8em;
    height: 10em;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */