@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 24px;
}

body {
  background-color: #e5ecf9;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2%;
  width: 100%;
  height: auto;gap: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5em;

  & .title {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 2px;
  }
  & .quote {
    font-size: 0.9em;
    color: #808080;
  }
}
main {
  width: 45%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 0.3rem;
  margin-top: 1em;
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3.5% 5%;
  gap: 0 5em;

  .form-control {
    width: 67.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0 1.25em;

    input {
      background-color: #f1f1fd;
      border-radius: 0.2rem;
      border: none;
      font-size: 0.75em;
      padding: 0.3em 1.5em;
      width: 15em;
      letter-spacing: 2px;

      &::placeholder {
        color: gray;
      }
    }
    label {
      font-size: 0.75em;
      letter-spacing: 2px;
      word-wrap: normal;
    }
  }

  button {
    border-radius: 0.1rem;
    border: none;
    padding: 0.3em 1em;
    font-size: 0.7em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
  }
}

.add {
  background-color: #4d4dff;
  color: white;

  &:hover {
    background-color: #5f5fff;
    color: #e7e7e7;
  }
}

.items {
  background-color: #ffffff;
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.8em 1.5em;
  border-radius: 0.3rem;
  height: auto;
  word-wrap: break-word;
  gap: 0 2em;

  p {
    font-size: 0.75em;
    text-transform: capitalize;
    color: #7f7f94;
    letter-spacing: 2px;
  }

  .action {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 3em;
  }
}
.edit {
  font-size: 0.75em;
  color: #6c757d;
  cursor: pointer;

  &:hover {
    color: blue;
  }
}

.delete {
  color: #6c757d;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.title {
  letter-spacing: 2px;
  font-size: 1.25em;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 1.25em;
  gap: 1em;
}

.modal {
  width: auto;
  padding: 0 2em;
  font-size: 0.65em;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0 5em;
  margin-top: 1em;

  .info {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 0 1em;
  }
}

.close {
  font-size: 1.7em;
  cursor: pointer;
}

.sucess {
  background-color: #e6f2e6;
  border: 1px solid #80c080;

  p {
    color: #005a00;
  }
  .sign {
    font-size: 1.2em;
    color: #4d4dff;
  }
  .close{
      color: #1a1a1a;
  }
}

.danger {
  background-color: #ffe6e6;
  border: 1.5px solid #fd4141;
  p {
    color: #ff3333;
  }
  .sign {
    font-size: 1.3em;
    color: #fbff00;
  }
    .close{
      color: #1a1a1a;
  }
}

.head{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 7rem;

  button{
    border: 1px solid #ff4d4d;
    background-color: transparent;
    color: #ff4d4d;
    font-size: 0.75em;
    padding: 0.1em 1em;
    border-radius: 0.2rem;
    cursor: pointer;

    &:hover{
      background-color: #f8d3d3;
      color: red;
    }
  }
}